In [3]:
import sqlite3
conn = sqlite3.connect('dbase2')
curs = conn.cursor()
tblcmd = 'create table stu (name char(30), review char(10), Status char(10))'
curs.execute(tblcmd)
curs.execute('insert into stu values("Bob", "yes", "accepted")')
curs.rowcount
conn.commit()
curs.execute('select * from stud')
for row in curs.fetchall():
    print (row)
    curs.execute('insert into stu values (?,?,?)',('Cathy','done','accepted'))
    curs.executemany('insert into stu values(?,?,?)',
                 [('Raj',"notdone",'nil'),('Maria',"Ram", 'accepted')])

OperationalError: database is locked