In [8]:
import sqlite3
connection=sqlite3.connect("my stud.db")
crsr=connection.cursor()
sql_command = """CREATE TABLE akash (
fname varchar(20),
email varchar(20),
gender varchar(20),
physics int,
chemistry int,
maths int);"""
crsr.execute(sql_command)
ins ="""INSERT INTO student VALUES(1000,"alice","alice@gmail.com","male",70,80,90);"""
crsr.execute(sql_command)
ans=crsr.fetchall()
for i  in ans:
    print(i)
    connection.close()
    d

OperationalError: table akash already exists

In [12]:
import sqlite3
connection=sqlite3.connect("my stud.db")
crsr=connection.cursor()
sql_command = """CREATE TABLE akash (
fname varchar(20),
email varchar(20),
gender varchar(20),
physics int,
chemistry int,
maths int);"""
crsr.execute(sql_command)


ins ="""INSERT INTO student VALUES(1000,"alice","alice@gmail.com","male",70,80,90);"""
crsr.execute(ins)
crsr.execute(cmd)
ans=crsr.fetchall()
for i  in ans:
    print(i)
    connection.close()
    d

OperationalError: table akash already exists

In [17]:
import sqlite3
connection=sqlite3.connect("pandit.db")
crsr=connection.cursor()
sql_command ="""CREATE TABLE ram (
name varchar(20),
last varchar(20),
gender varchar(20),
age varchar(20));"""
crsr.execute(sql_command)

a="""INSERT INTO ram ("ganesh","prabhu","male","100");"""
crsr.execute(a)
a="""INSERT INTO ram ("mahadev","prabhu","male","10000");"""
crsr.execute(a)
a="""INSERT INTO ram ("krishna","prabhu","male","50000");"""
crsr.execute(a)
a="""INSERT INTO ram ("saraswati","mata","female","10000");"""
crsr.execute(a)
cmd="SELECT*FROM ram"
crsr.execute(cmd)
ans=fetchall()
for i in ans:
    print(i)
connection.close()

OperationalError: near ";": syntax error

In [33]:
from tkinter import Tk, Label,Button
class myfirstgui:
    def __init__(self,master):
        self.master =master
        master.title("A simple GUI")

        self.Label =Label(master,text="This is our first  gui")
        self.Label.pack()

        self.greet_Button=Button(master,text="greet",command=self.greet)
        self.greet_Button.pack()
        self.Close_Button=Button(master,text="close",command=self.Close)
        self.Close_Button.pack()
        
    def greet(self):
        print("hello folks")
root =Tk()
my_gui = myfirstgui(root)
root.mainloop()

AttributeError: 'myfirstgui' object has no attribute 'Close'